@use '../sass/utils/vars' as *;
@use '../sass/components' as *;

.body {
  font-family: $ff-primary;
  background-color: $bg-color-200;
  text-align: center;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.25rem;
  padding: 1rem;
  width: min(85%, 20rem);
  background-color: $bg-color-100;
}
.qr-code {
  width: auto;
  border-radius: 0.675rem;
  overflow: hidden;
  &__text-box {
    padding: 1.5rem 1rem;
  }
  &__header {
  }
  &__description {
    margin-top: 1rem;
  }
}

.attribution {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
}
.attribution a {
  color: $text-accent-500;
}
