.text-400 {
    font-size: $fs-primary-400;
    color: $text-primary-500;
    font-weight: 400;
    line-height: 1.26;
    letter-spacing: 0.19;
}

.text-600 {
    font-size: $fs-primary-600;
    color: $text-primary-700;
    font-weight: 700;
    line-height: 1.26;
}